* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar-container {
  width: 100%;
  height: 70px;
}

.navbar-container .navbar {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}

.navbar-container .navbar .navbar-left {
  width: 50%;
  height: 100%;
  float: left;
}

.navbar-container .navbar .navbar-left img {
  height: 60px;
  margin-top: 5px;
}

.navbar-container .navbar .navbar-right {
  width: 50%;
  height: 100%;
  float: left;
  line-height: 70px;
  text-align: right;
}

.navbar-container .navbar .navbar-right ul {
  list-style: none;
}

.navbar-container .navbar .navbar-right ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar-container .navbar .navbar-right ul li a {
  text-decoration: none;
  color: black;
}

.navbar-container .navbar .navbar-right ul li a:hover {
  color: blue;
}

.navbar-container .navbar .navbar-right ul li a.sign-up {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 7px;
}

.navbar-container .navbar .navbar-right ul li a.sign-up:hover {
  color: white;
  background: blue;
}

.jumbo-container {
  width: 100%;
  height: 500px;
  background: blue;
}

.jumbo-container .jumbo {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  background: red;
}

.jumbo-container .jumbo .jumbo-left {
  width: 50%;
  height: 100%;
  float: left;
  background: yellow;
}

.jumbo-container .jumbo .jumbo-right {
  width: 50%;
  height: 100%;
  float: left;
  background: lightgrey;
}

